@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
	font-size: 20px;
	margin: 0;
	color: #666;
}

p {
	line-height: 1.5;
}

a {
	color: #09e;
	text-decoration: none;
}

a:hover {
	color: #06c;
}

header {
	color: white;
	background: #06c;
	padding: 20px;
	margin-bottom: 1px;
}

h1, h2 {
	color: #333;
	line-height: 1.1;
}

.site-title {
	font-weight: bold;
	font-size: 1.25em;
	text-align: center;
	text-transform: uppercase;
}

nav ul,
nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	background: #09e;
	color: white;
	margin-bottom: 1px;
	padding: 10px 20px;
}

nav a:hover {
	background: #06c;
	color: white;
}

nav .active {
	background: #06c;
}

.widebar {
	padding: 20px;
}

.featured-image {
	font-style: italic;
}

.sidebar {
	background: #eee;
	padding: 20px;
}

footer {
	background: #888;
	color: #eee;
	font-size: 14px;
	text-align: center;
	padding: 20px;
}

/* make images responsive */
img {
	max-width: 100%;
}